language: java
jdk:
  - openjdk8
  - oraclejdk11
  - openjdk11
  
# runs "test" goal on default, which misses IT
# script:
#  - mvn verify -B

# these are for starting and stopping the P2 repo
before_install:
  - mvn -f maven-p2/pom.xml install -Pstart -B
after_script:
  - mvn -f maven-p2/pom.xml package -Pstop -B