<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension point="org.eclipse.core.runtime.applications" id="application">
      <application>
         <run class="de.slothsoft.example.Application"> </run>
      </application>
   </extension>

   <extension point="org.eclipse.core.runtime.products" id="product">
      <product name="Example Application" application="de.slothsoft.example.application">
         <property name="appName" value="Example Application"> </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.slothsoft.example.Perspective"
            id="de.slothsoft.example.Perspective"
            name="Perspective">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <view
            class="de.slothsoft.example.ExampleView"
            icon="icons/sample.png"
            id="de.slothsoft.example.ExampleView"
            inject="true"
            name="Examples">
      </view>
   </extension>

</plugin>
